<div class="wrapper">
  <app-page-header icon="project" [title]="'Editar Proyecto'">
    <div actions>
      <a class="flex items-center gap-2" routerLink="/projects">
        <app-icon icon="closeCircle" class="w-4 h-4"></app-icon>
        <span class="text-sm">{{ 'close' | translate }} {{ 'project' | translate }}</span>
      </a>
    </div>
  </app-page-header>
</div>

<div class="wrapper">
  <div class="flex flex-wrap flex-col gap-4 md:flex-row">
    <div class="flex flex-wrap flex-1 items-center gap-4 p-6 bg-dark-300 rounded-lg">
      <div class="flex-1 min-w-[240px]">
        <p>{{ 'project.edit.editing' | translate }}: {{ project?.name }}</p>
      </div>
  
      <div class="flex gap-4">
        <button 
          *ngIf="hasUnsavedChanges"
          class="btn btn-normal btn-primary gap-2"
          (click)="saveAllChanges()">
          <app-icon icon="upload" class="w-4 h-4"></app-icon>
          {{ 'project.edit.save.changes' | translate }}
        </button>
        
        <span class="btn btn-normal btn-primary">{{ 'project.edit' | translate }}</span>
        <a [routerLink]="['/projects', project?.uuid]" class="btn btn-normal btn-muted">{{ 'project.show' | translate }}</a>
      </div>
    </div>

    <!--
    <div>
      <button class="btn btn-large btn-muted" disabled>GO</button>
    </div>
    -->
    </div>
  
  <!-- Tab routes -->
  <div class="mt-6 border-b border-dark-300">
    <div class="flex justify-between">
      <nav class="flex space-x-4">
        <a routerLink="sequence" routerLinkActive="bg-dark-300 text-white" class="px-4 py-2 text-sm font-medium rounded-t-lg">
          {{ 'project.sequence' | translate }}
      </a>      
      <a routerLink="audio-mixer" routerLinkActive="bg-dark-300 text-white" class="pointer-events-none text-muted px-4 py-2 text-sm font-medium rounded-t-lg">
        {{ 'project.audio-mixer' | translate }}
      </a>
      <a routerLink="video-mixer" routerLinkActive="bg-dark-300 text-white" class="pointer-events-none text-muted px-4 py-2 text-sm font-medium rounded-t-lg">
        {{ 'project.video-mixer' | translate }}
      </a>
      <a routerLink="dmx-mixer" routerLinkActive="bg-dark-300 text-white" class="px-4 py-2 text-sm font-medium rounded-t-lg">
          {{ 'project.dmx-mixer' | translate }}
        </a>
      </nav>

      <div class="flex items-center gap-2">
        <button class="btn btn-small btn-muted space-x-2">
          <app-icon icon="eye"></app-icon>
          <span>{{ 'project.button.list' | translate }} / {{ 'project.button.timeline' | translate }}</span>
        </button>

        <button class="btn btn-small btn-muted space-x-2" (click)="toggleActivityDrawer()">
          <app-icon icon="activity"></app-icon>
          <span>{{ 'project.button.activity' | translate }} / {{ 'project.button.warnings' | translate }}</span>
        </button>
        
        <button class="btn btn-small btn-muted space-x-2">
          <app-icon icon="star"></app-icon>
          <span>{{ 'project.button.effects' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
  
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div> 