<div class="wrapper">
  <app-page-header icon="pencil" [title]="project?.name">
    <div class="flex items-center gap-4" actions>
      <button 
        *ngIf="hasUnsavedChanges"
        class="btn btn-small btn-tertiary gap-2"
        (click)="saveAllChanges()">
        <app-icon icon="upload" class="w-[12px] h-[12px]"></app-icon>
        {{ 'project.edit.save.changes' | translate }}
      </button>

      <a [routerLink]="['/projects', project?.uuid]" class="btn btn-small btn-secondary">{{ 'project.show' | translate }}</a>
      <button
        type="button"
        class="flex items-center gap-2 cursor-pointer"
        (click)="closeWorkspaceProject()">
        <span class="text-sm">{{ 'close' | translate }} {{ 'project' | translate }}</span>
        <app-icon icon="closeCircle" class="w-4 h-4"></app-icon>
      </button>
    </div>
  </app-page-header>
</div>

<div class="wrapper">
  
  <!-- Tab routes -->
  <div class="mt-6 border-b border-dark-300">
    <div class="flex justify-between">
      <nav class="flex space-x-4">
        <a routerLink="sequence" routerLinkActive="bg-dark-300 text-white" class="px-4 py-2 text-sm font-medium rounded-t-lg">
          {{ 'project.sequence' | translate }}
      </a>      
      <a routerLink="audio-mixer" routerLinkActive="bg-dark-300 text-white" class="pointer-events-none text-muted px-4 py-2 text-sm font-medium rounded-t-lg">
        {{ 'project.audio-mixer' | translate }}
      </a>
      <a routerLink="video-mixer" routerLinkActive="bg-dark-300 text-white" class="pointer-events-none text-muted px-4 py-2 text-sm font-medium rounded-t-lg">
        {{ 'project.video-mixer' | translate }}
      </a>
      <a routerLink="dmx-mixer" routerLinkActive="bg-dark-300 text-white" class="px-4 py-2 text-sm font-medium rounded-t-lg">
          {{ 'project.dmx-mixer' | translate }}
        </a>
      </nav>

      <div class="flex items-center gap-2">
        <button class="btn btn-small btn-muted space-x-2">
          <app-icon icon="eye"></app-icon>
          <span>{{ 'project.button.list' | translate }} / {{ 'project.button.timeline' | translate }}</span>
        </button>

        <button class="btn btn-small btn-muted space-x-2" (click)="toggleActivityDrawer()">
          <app-icon icon="activity"></app-icon>
          <span>{{ 'project.button.activity' | translate }} / {{ 'project.button.warnings' | translate }}</span>
        </button>
        
        <button class="btn btn-small btn-muted space-x-2">
          <app-icon icon="star"></app-icon>
          <span>{{ 'project.button.effects' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
  
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div> 