<div class="flex flex-col min-h-screen">
  <app-notifications></app-notifications>
  <app-header></app-header>
  <main class="flex-grow">
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</div>


<app-confirmation-dialog
  [isOpen]="workspace.showConfirmClose()"
  title="{{'projects.workspace.edit.confirm.title.unsaved-changes' | translate }}"
  message="{{'projects.workspace.edit.confirm.message.unsaved-changes' | translate}}"
  confirmText="{{'projects.workspace.edit.confirm.text.close-anyway' | translate}}"
  cancelText="{{'projects.workspace.edit.confirm.text.cancel' | translate}}"
  (confirm)="onConfirmClose()"
  (close)="workspace.onCancelClose()" />

  @if (showPlayControls) {
    <app-play-controls-floating />
  }