<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="space-y-4">
  <div class="field">
    <label for="name" class="label">{{ 'new.project.name' | translate }}</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      class="input"
      [ngClass]="{'border-red-500': formSubmitted && f['name'].errors}"
      [placeholder]="'new.project.name.placeholder' | translate"
      [attr.disabled]="isSubmitting ? '' : null"
    />

    <div *ngIf="formSubmitted && f['name'].errors" class="help is-error">
      {{ 'new.project.name.error.required' | translate }}
    </div>
  </div>

  <div class="field">
    <label for="description" class="label">{{ 'new.project.description' | translate }}</label>
    <textarea
      id="description"
      formControlName="description"
      rows="3"
      class="textarea"
      [placeholder]="'new.project.description.placeholder' | translate"
      [attr.disabled]="isSubmitting ? '' : null"
    ></textarea>
  </div>

  <div class="flex justify-end">
    <button
      type="submit"
      class="btn btn-normal btn-primary"
      [disabled]="isSubmitting || projectForm.invalid"
      [class.opacity-70]="isSubmitting || projectForm.invalid"
    >
      <span *ngIf="isSubmitting" class="inline-block mr-2">
        <svg class="animate-spin h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      </span>
      {{ isSubmitting ? ('saving' | translate) : ('save' | translate) }}
    </button>
  </div>
</form>
