<div class="wrapper">
  <app-page-header icon="radio" [title]="project?.name">
    <div actions>
      <a class="flex items-center gap-2" routerLink="/projects">
        <app-icon icon="closeCircle" class="w-4 h-4"></app-icon>
        <span class="text-sm">{{ 'close' | translate }} {{ 'project' | translate }}</span>
      </a>
    </div>
  </app-page-header>
</div>

<div class="wrapper">
  <div class="mt-4">
    <app-engine-status
      [status]="engineStatus"
      [engineError]="engineError"
      [runningProject]="runningProject">
    </app-engine-status>
  </div>
  
  <div class="mt-6 border-b border-dark-300">
    <div class="flex justify-between">
      <nav class="flex space-x-4">
        <nav class="flex space-x-4">
          <a routerLink="sequence" routerLinkActive="bg-dark-300 text-white" class="px-4 py-2 text-sm font-medium rounded-t-lg">
            {{ 'project.sequence' | translate }}
        </a>      
        <a routerLink="audio-mixer" routerLinkActive="bg-dark-300 text-white" class="px-4 py-2 text-sm font-medium rounded-t-lg">
          {{ 'project.audio-mixer' | translate }}
        </a>
        <a routerLink="video-mixer" routerLinkActive="bg-dark-300 text-white" class="px-4 py-2 text-sm font-medium rounded-t-lg">
          {{ 'project.video-mixer' | translate }}
        </a>
        <a routerLink="dmx-mixer" routerLinkActive="bg-dark-300 text-white" class="px-4 py-2 text-sm font-medium rounded-t-lg">
            {{ 'project.dmx-mixer' | translate }}
          </a>
        </nav>
      </nav>

      <div class="flex items-center gap-2">
        <button class="btn btn-small btn-muted space-x-2" (click)="toggleActivityDrawer()">
          <app-icon icon="activity"></app-icon>
          <span>{{ 'project.button.activity' | translate }} / {{ 'project.button.warnings' | translate }}</span>
        </button>

      </div>
    </div>
  </div>
  
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>

@if (isShowActiveSequence) {
  <app-play-controls-floating />
}